/ {
    chosen {
        zmk,kscan = <&kscan_dummy>;
    };

    kscan_dummy: kscan_dummy {
        compatible = "zmk,kscan-dummy";
    };
};

/*
#include <dt-bindings/zmk/matrix-transform.h>

/ {
    kscan0: kscan_charlieplex {
        compatible = "zmk,kscan-gpio-charlieplex";

        gpios = <
            &gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
        >;

        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <3>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "3x3";

        kscan = <&kscan0>;
        transform = <&default_transform>;
    };
};
*/
