#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = <&kscan0>;
    };

    kscan0: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";

        row-gpios = <
            &gpio0 2 GPIO_ACTIVE_HIGH
            &gpio0 3 GPIO_ACTIVE_HIGH
            &gpio0 4 GPIO_ACTIVE_HIGH
        >;

        col-gpios = <
            &gpio0 5 GPIO_ACTIVE_HIGH
            &gpio0 6 GPIO_ACTIVE_HIGH
            &gpio0 7 GPIO_ACTIVE_HIGH
        >;

        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        diode-direction = <COL2ROW>;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <3>;
        map = <
            RC(0, 0) RC(0, 1) RC(0, 2)
            RC(1, 0) RC(1, 1) RC(1, 2)
            RC(2, 0) RC(2, 1) RC(2, 2)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "3x3-direct";

        kscan = <&kscan0>;
        transform = <&default_transform>;
    };
};
