#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                 &bt { BT_SEL 0 }   &bt { BT_SEL 1 }   &bt BT_CLR
                &kp N4         &kp N5         &kp N6
                &kp N7         &kp N8         &kp N9
            >;
        };
    };
};
